<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.staxxproducts.servicetracker">

    <application
        android:allowBackup="true"
        android:name="com.staxxproducts.servicetracker.App"
        android:usesCleartextTraffic="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VehicleServiceTracker"
        >
        <activity
            android:name="com.staxxproducts.servicetracker.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"


            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.staxxproducts.servicetracker.AddVehicle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity android:name="com.staxxproducts.servicetracker.ExistingVehicle"
            android:screenOrientation="portrait" />
        <activity android:name="com.staxxproducts.servicetracker.About"
            android:screenOrientation="portrait" />
        <activity android:name="com.staxxproducts.servicetracker.AddRecord"
            android:screenOrientation="portrait" />
        <activity android:name="com.staxxproducts.servicetracker.ViewServices"
            android:screenOrientation="portrait" />
        <activity android:name="com.staxxproducts.servicetracker.AdminActivities"
            android:screenOrientation="portrait" />
        <activity android:name="com.staxxproducts.servicetracker.SingleService"
            android:screenOrientation="portrait" />
    </application>

</manifest>